name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Code checkout
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6

    - name: code format check
      shell: bash
      run: |
        if [ "$(gofmt -s -l .)" != "" ]; then exit 1; fi

    - name: Run tests
      run: |
        go test -v ./...

    - name: Build
      run: |
        go build -v .